<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.PrimozRezek.iManager.android"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
<uses-permission android:name="android.permission.READ_CALENDAR"/>
<uses-permission android:name="android.permission.WRITE_CALENDAR"/>


    <application android:icon="@drawable/ic_menu" android:label="@string/app_name">
        
        <activity android:name="SplashScreenActivity" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="uraActivity" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".vremeActivity" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager - Vreme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".RssActivity" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager - Rss novice">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".koledarActivity" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager - Koledar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".BAZA.KoledarDodajDogodekActivity" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager - Dodaj Dogodek">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".PretvornikValutActivity" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager - Pretvornik Valut">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".nastavitveActivity" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager - Nastavitve">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Alarm.AlarmActivity" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager - Nastavi Alarm">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name=".Alarm.IzklopBudilkeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Alarm.IzklopOdstevalnikaActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Alarm.AlarmService_Service" android:process=":remote" />
        
         <activity android:name=".Alarm.OdstevalnikActivity" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager - Nastavi Odstevalnik">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Koledar.DodajanjeDogodkaVCalendarActivity" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager - Dodaj Dogodek">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Koledar.SeznamDogodkov" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager - Poglej Dogodek">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Koledar.UrediDogodekActivity" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="iManager - Uredi Dogodek">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Alarm.OdstevalnikService_Service" android:process=":remote" />
        
    </application>
    
</manifest>